.Message{
    width: auto;
    height: auto;
    text-align: center;
}

.row{
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}
/* .col{
    background-color: blue;
    width: auto;
    height: auto;
    margin: 0%;
    padding: 3em;
} */
.card{
    background-color: blue;
    width: auto;
    height: auto;
    margin-top: 10;
    padding: 3em;
    text-align: center;
    padding: 1em;
    justify-content: center;
}

.d-grid{
    margin: 0%;
    width: auto;
    height: auto;
    justify-content: center;
    margin-top: 1em;
}